<div class='panel-heading'>
  <h1>You chose left</h1>
</div>

<div class='panel-body'>
  <%= image_tag("Lava.jpg",  height: "100") %>
  <p>You come across a lava pool. Do you jump across or go back?</p>

  <div style='float: left; width: 100px;'>
    <%= button_to "Jump" ,pages_l2jump_path, :method=>:get, :class => 'btn btn-primary' %>
  </div>
 
  <div style='float: left; width: auto;'>
    <%= button_to "Go Back" , pages_lose_path, :method=>:get, :class => 'btn btn-primary' %>
  </div>
</div>