<div class='panel-heading'>
  <h1>You chose to open the chest.</h1>
</div>

<div class='panel-body'>
  <%= image_tag("PetDog.jpg",  height: "100") %>
  <p>You found a cute doggy! :)</p>

  <div style='float: left; width: 100px;'>
    <%= button_to "Continue on" ,pages_l3pet_path, :method=>:get, :class => 'btn btn-primary' %>
  </div>
 
</div>
<br/>
<div class='well well-lg'>
  <H3>Science Fun Fact - There are 118 elements on the periodic table!</H3>
</div>