<div class='panel-heading'>
  <h1>Hooray! You win!!!</h1>
</div>

<div class='panel-body'>
  <%= image_tag("ElectronWin.jpg",  height: "200") %>
  <p>You've surived the epic quest to become a stable hydrogen atom!!</p>

  <div style='float: left; width: auto;'>
    <%= button_to "Play Again?" , pages_home_path, :method=>:get, :class => 'btn btn-primary' %>
  </div>
</div>
<br/>
<div class='well well-lg'>
  <H3>Science Fun Fact - Ununoctium is the element with the highest atomic number - at 118!</H3>
</div>